*{
    margin: 0;
    padding:0;
    outline: o;
}
:root{
    --primary-fonts:"Inter";
    --secondary-fonts:"Bebas+Neue";

    --primary-color: #FFFBF0;
    --secondary-color:#E5E5E5;
}
.container {
    width: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body{
    font-family:"Inter";
    background-color: #E5E5E5;
}
.header_inner {
    margin:0 3%;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFBF0;
    padding: 39px 135px;
}
.logo img {
    width: 291px;
}
nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
   list-style: none;
}
nav ul a {
    text-decoration: none;
    font-size: 20px;
}
nav ul a li {
    color: #3C3C3C;
    font-family: var(--primary-fonts);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
    padding:10px;
}
/* banner-section */
.banner-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFBF0;
    padding: 0 135px;
}
.banner-left h1 {
    font-size: 80px;
    font-weight: 700;
    font-family: var(--secondary-fonts);
    text-transform: uppercase;
}
span{
    color:#FABE4C;
}
.banner-left p {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    font-family: roboto;
}
a.btn {
    display: inline-block;
    padding: 16px 13px;
    background:linear-gradient(180deg, #a8b476 50%, #94a359 50%);
    margin-top: 24px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
a.btn:hover {
    background: linear-gradient(180deg, #a8b476 0%, #94a359 100%);
}
/* womens gallary */
.body_section {
    /* margin-top: 39px; */
    margin-left: 135px;
    margin-right: 135px;
    background: #fff;
    margin: 0 3%;
}
.womens_inner {
    padding: 39px 135px;
}
.womens_glalary {
    justify-content: space-between;
    align-items: center;
    
}
.womens_title h2 {
    font-size: 50px;
    text-align: left;
    font-family: var(--secondary);
    font-weight: 600;
    line-height: 56px;
    padding: 20px;
    text-transform: uppercase;
}
.womens-corner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.womens_desplay img {
    width: 293px;
    height:293px;
    background: #F1F1F1;
    border-radius: 20px;
    margin-top: 15px;
}
.womens_desplay {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 15px;
}
.womens_desplay h2 {
    text-align: left;
    font-size: 24px;
    font-family: roboto;
    line-height: 28px;
    font-weight: 600;
    padding: 5px;
}
.womens_desplay p {
    font-size: 20px;
    font-family: robboto;
    text-align: left;
    padding: 5px;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.price h3 {
    display: inline-block;
    padding: 16px 13px;
    margin-top: 24px;
    color: #FABE4C;
    font-size: 36px;
    line-height:42px;
    font-weight: 900;
    text-decoration: none;
}
/* Mens-gallary */
.mens_inner{
    padding: 39px 135px;
}
.mens_glalary {
    justify-content: space-between;
    align-items: center; 
}
.mens_title h2 {
    font-size: 50px;
    text-align: left;
    font-family: var(--secondary);
    font-weight: 600;
    line-height: 56px;
    padding: 20px;
    text-transform: uppercase;
}
.mens-corner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mens_desplay img {
    width: 293px;
    height:293px;
    background: #F1F1F1;
    border-radius: 20px;
    margin-top: 15px;
}
.mens_desplay {
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    margin: 15px;
}
.mens_desplay h2 {
    text-align: left;
    font-size: 24px;
    font-family: roboto;
    line-height: 28px;
    font-weight: 600;
    padding: 5px;
}
.mens_desplay p {
    font-size: 20px;
    font-family: robboto;
    text-align: left;
    padding: 5px;
}
.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.price h3 {
    display: inline-block;
    padding: 16px 13px;
    margin-top: 24px;
    color: #FABE4C;
    font-size: 36px;
    line-height:42px;
    font-weight: 900;
    text-decoration: none;
}
/* bottom-part */
.bottom-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 39px 135px;
}
.icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
.icon_title h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    font-family: roboto;
    padding: 5px 25px;
}
.icon_title p {
    font-size: 16px;
    font-family: roboto;
    line-height: 24px;
    font-weight: 400;
    padding: 5px 25px;
}
.bottom_right img {
    width: 592px;
}